<EditForm Model="@Pessoa" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label>Nome:</label>
        <InputText @bind-Value="@Pessoa.Nome"></InputText>
        <ValidationMessage For="@(() => Pessoa.Nome)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Peso:</label>
        <InputNumber @bind-Value="@Pessoa.Peso"></InputNumber>
        <ValidationMessage For="@(() => Pessoa.Peso)"></ValidationMessage>
    </div>

    <button type="submit" class="btn btn-primary">@ButtonTitle</button>
</EditForm>

@code {

    [Parameter]
    public Pessoa Pessoa { get; set; }

    [Parameter]
    public string ButtonTitle { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
